In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)

In [7]:
df = pd.read_csv('../dataset/Student_performance.csv')
print("Dataset loaded successfully!")
print(f"Shape: {df.shape}")

Dataset loaded successfully!
Shape: (6607, 20)

In [16]:
print("First 10 rows")
print(df.head(10))
print("\n" + "="*50 + "\n")
print("Column Name and Types:")
print(df.info())
print("\n" + "="*50 + "\n")
print("Numerical Summary:")
print(df.describe())
print("\n" + "="*50 + "\n")
print("Missing Values:")
print(df.isnull().sum())

First 10 rows
   Hours_Studied  Attendance Parental_Involvement Access_to_Resources  \
0             23          84                  Low                High
1             19          64                  Low              Medium
2             24          98               Medium              Medium
3             29          89                  Low              Medium
4             19          92               Medium              Medium
5             19          88               Medium              Medium
6             29          84               Medium                 Low
7             25          78                  Low                High
8             17          94               Medium                High
9             23          98               Medium              Medium

  Extracurricular_Activities  Sleep_Hours  Previous_Scores Motivation_Level  \
0                         No            7               73              Low
1                         No            8               59              Low
2                        Yes            7               91           Medium
3                        Yes            8               98           Medium
4                        Yes            6               65           Medium
5                        Yes            8               89           Medium
6                        Yes            7               68              Low
7                        Yes            6               50           Medium
8                         No            6               80             High
9                        Yes            8               71           Medium

  Internet_Access  Tutoring_Sessions Family_Income Teacher_Quality  \
0             Yes                  0           Low          Medium
1             Yes                  2        Medium          Medium
2             Yes                  2        Medium          Medium
3             Yes                  1        Medium          Medium
4             Yes                  3        Medium            High
5             Yes                  3        Medium          Medium
6             Yes                  1           Low          Medium
7             Yes                  1          High            High
8             Yes                  0        Medium             Low
9             Yes                  0          High            High

  School_Type Peer_Influence  Physical_Activity Learning_Disabilities  \
0      Public       Positive                  3                    No
1      Public       Negative                  4                    No
2      Public        Neutral                  4                    No
3      Public       Negative                  4                    No
4      Public        Neutral                  4                    No
5      Public       Positive                  3                    No
6     Private        Neutral                  2                    No
7      Public       Negative                  2                    No
8     Private        Neutral                  1                    No
9      Public       Positive                  5                    No

  Parental_Education_Level Distance_from_Home  Gender  Exam_Score
0              High School               Near    Male          67
1                  College           Moderate  Female          61
2             Postgraduate               Near    Male          74
3              High School           Moderate    Male          71
4                  College               Near  Female          70
5             Postgraduate               Near    Male          71
6              High School           Moderate    Male          67
7              High School                Far    Male          66
8                  College               Near    Male          69
9              High School           Moderate    Male          72

==================================================

Column Name and Types:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6607 entries, 0 to 6606
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Hours_Studied               6607 non-null   int64
 1   Attendance                  6607 non-null   int64
 2   Parental_Involvement        6607 non-null   object
 3   Access_to_Resources         6607 non-null   object
 4   Extracurricular_Activities  6607 non-null   object
 5   Sleep_Hours                 6607 non-null   int64
 6   Previous_Scores             6607 non-null   int64
 7   Motivation_Level            6607 non-null   object
 8   Internet_Access             6607 non-null   object
 9   Tutoring_Sessions           6607 non-null   int64
 10  Family_Income               6607 non-null   object
 11  Teacher_Quality             6529 non-null   object
 12  School_Type                 6607 non-null   object
 13  Peer_Influence              6607 non-null   object
 14  Physical_Activity           6607 non-null   int64
 15  Learning_Disabilities       6607 non-null   object
 16  Parental_Education_Level    6517 non-null   object
 17  Distance_from_Home          6540 non-null   object
 18  Gender                      6607 non-null   object
 19  Exam_Score                  6607 non-null   int64
dtypes: int64(7), object(13)
memory usage: 1.0+ MB
None

==================================================

Numerical Summary:
       Hours_Studied   Attendance  Sleep_Hours  Previous_Scores  \
count    6607.000000  6607.000000   6607.00000      6607.000000
mean       19.975329    79.977448      7.02906        75.070531
std         5.990594    11.547475      1.46812        14.399784
min         1.000000    60.000000      4.00000        50.000000
25%        16.000000    70.000000      6.00000        63.000000
50%        20.000000    80.000000      7.00000        75.000000
75%        24.000000    90.000000      8.00000        88.000000
max        44.000000   100.000000     10.00000       100.000000

       Tutoring_Sessions  Physical_Activity   Exam_Score
count        6607.000000        6607.000000  6607.000000
mean            1.493719           2.967610    67.235659
std             1.230570           1.031231     3.890456
min             0.000000           0.000000    55.000000
25%             1.000000           2.000000    65.000000
50%             1.000000           3.000000    67.000000
75%             2.000000           4.000000    69.000000
max             8.000000           6.000000   101.000000

==================================================

Missing Values:
Hours_Studied                  0
Attendance                     0
Parental_Involvement           0
Access_to_Resources            0
Extracurricular_Activities     0
Sleep_Hours                    0
Previous_Scores                0
Motivation_Level               0
Internet_Access                0
Tutoring_Sessions              0
Family_Income                  0
Teacher_Quality               78
School_Type                    0
Peer_Influence                 0
Physical_Activity              0
Learning_Disabilities          0
Parental_Education_Level      90
Distance_from_Home            67
Gender                         0
Exam_Score                     0
dtype: int64

## Data Understanding

**Dataset Shape**  (6607,20)
**Target variables (scores):** Previous Scores

**Categorical features:**  Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Motivation_Level,Internet_Access,Family_Income,Teacher_Quality,School_Type,
Peer_Influence,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender

**Numerical features:** Hours_Studied, Attendance, Sleep_Hours, Tutoring_Sessions, Physical_Activity

**Missing values:** Teacher_Quality, Parental_Education_Level, Distance_from_Home

In [17]:
print("Columns in dataset:")
print(df.columns.tolist())

Columns in dataset:
['Hours_Studied', 'Attendance', 'Parental_Involvement', 'Access_to_Resources', 'Extracurricular_Activities', 'Sleep_Hours', 'Previous_Scores', 'Motivation_Level', 'Internet_Access', 'Tutoring_Sessions', 'Family_Income', 'Teacher_Quality', 'School_Type', 'Peer_Influence', 'Physical_Activity', 'Learning_Disabilities', 'Parental_Education_Level', 'Distance_from_Home', 'Gender', 'Exam_Score']

In [18]:
print("Gender distribution:")
print(df['Gender'].value_counts())
print("\n")

Gender distribution:
Gender
Male      3814
Female    2793
Name: count, dtype: int64

In [19]:
gender_stats = df.groupby('Gender')['Exam_Score'].agg([
    'count',
    'mean',
    'std',
    'min',
    'max'
]).round(2)

print("Exam Score Statistics by Gender:")
print(gender_stats)
print("\n")

Exam Score Statistics by Gender:
        count   mean   std  min  max
Gender
Female   2793  67.24  4.05   57  101
Male     3814  67.23  3.77   55   99